flows_jerolight.json
[{"id":"7fab6520.14c9fc","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"63d7a0ce.3f74","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"1556aa4c.9980b6","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"3ab1b1ce.2b1f4e","type":"subflow","name":"poll and init","info":"check edi folder for changes\nreads one file\n\ninit for file names and customer number","category":"","in":[],"out":[{"x":720,"y":80,"wires":[{"id":"251e9cbf.fa61d4","port":0}]}],"env":[],"status":{"x":160,"y":30,"wires":[]}},{"id":"dfb7be09.601c7","type":"subflow","name":"2XML structure","info":"","category":"","in":[{"x":50,"y":101,"wires":[{"id":"58ed547a.11558c"}]}],"out":[{"x":1006,"y":118,"wires":[{"id":"af93753f.1c3378","port":0}]}],"env":[]},{"id":"c6d25cc3.1b6d2","type":"subflow","name":"kunde10332","info":"","category":"","in":[{"x":71,"y":80,"wires":[{"id":"5d5d2528.b613ec"}]}],"out":[{"x":468,"y":80,"wires":[{"id":"5d5d2528.b613ec","port":0}]}],"env":[]},{"id":"263ec013.18c7c","type":"subflow","name":"kunde 10333","info":"","category":"","in":[{"x":70,"y":80,"wires":[{"id":"71915d01.23f794"}]}],"out":[{"x":330,"y":80,"wires":[{"id":"71915d01.23f794","port":0}]}],"env":[]},{"id":"572b2b7.8e3f9d4","type":"subflow","name":"make XML file","info":"","category":"","in":[{"x":50,"y":80,"wires":[{"id":"b8e758c4.3cc4c8"}]}],"out":[{"x":796,"y":80,"wires":[{"id":"b51f4394.4eace","port":0}]}],"env":[]},{"id":"ac4f6cae.bce13","type":"subflow","name":"make ialf","info":"","category":"","in":[{"x":70,"y":80,"wires":[{"id":"fe2acfde.1be51"}]}],"out":[{"x":1128,"y":84,"wires":[{"id":"76f6f3fb.cfebac","port":0}]}],"env":[]},{"id":"f641ff1d.7bfdc","type":"subflow","name":"check mails","info":"checks listes mailboxes and writes attached files to EDI_directory","category":"","in":[{"x":70,"y":80,"wires":[{"id":"cd66b6dc.a8f0e8"}]}],"out":[{"x":405,"y":81,"wires":[{"id":"cd66b6dc.a8f0e8","port":0}]}],"env":[]},{"id":"5d5d2528.b613ec","type":"csv","z":"c6d25cc3.1b6d2","name":"csv2object","sep":";","hdrin":"","hdrout":"","multi":"mult","ret":"\\n","temp":"exaufnr, ltideal ,kuposnr ,menge ,artnr, breite, hoehe","skip":"0","x":230,"y":80,"wires":[[]]},{"id":"58ed547a.11558c","type":"function","z":"dfb7be09.601c7","name":"take input msg","func":"\nreturn msg;","outputs":1,"noerr":0,"x":210,"y":101,"wires":[["c731650f.f9c798","44cd961d.ae8f88"]]},{"id":"c731650f.f9c798","type":"function","z":"dfb7be09.601c7","name":"gen_head","func":"var head = {kunr: msg.kunr, \n    exaufnr : msg.payload[0].exaufnr,\n    ltideal : msg.payload[0].ltideal \n}\nmsg.head = head;\nmsg.parts= head;\nreturn msg;","outputs":1,"noerr":0,"x":471,"y":80,"wires":[["41b1b971.5eab58"]]},{"id":"44cd961d.ae8f88","type":"function","z":"dfb7be09.601c7","name":"gen_item","func":"var item = [];\nvar anz = msg.payload.length;\n\nfor (i=0; i<anz ;i++)\n{\n    item[i] = {\n        kuposnr : msg.payload[i].kuposnr,\n        menge   : msg.payload[i].menge ,\n        artnr   : msg.payload[i].artnr ,\n        breite  : msg.payload[i].breite,\n        hoehe   : msg.payload[i].hoehe\n    }\n}\n\n\nmsg.item = item;\nmsg.anz  = anz;\nmsg.parts= item;\nreturn msg;","outputs":1,"noerr":0,"x":471,"y":140,"wires":[["41b1b971.5eab58"]]},{"id":"af93753f.1c3378","type":"function","z":"dfb7be09.601c7","name":"gen_total","func":"var xmlprep = { \n    head : msg.head,\n    item : msg.item \n}\nmsg.payload = xmlprep;\nreturn msg;","outputs":1,"noerr":0,"x":869,"y":105,"wires":[[]]},{"id":"41b1b971.5eab58","type":"join","z":"dfb7be09.601c7","name":"","mode":"custom","build":"array","property":"parts","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":686,"y":106,"wires":[["af93753f.1c3378"]]},{"id":"b091cef5.84125","type":"comment","z":"7fab6520.14c9fc","name":"Customer files","info":"","x":80,"y":40,"wires":[]},{"id":"81098768.ac4d38","type":"watch","z":"3ab1b1ce.2b1f4e","name":"poll edi_in","files":"/tmp/edi_in","recursive":true,"x":200,"y":80,"wires":[["f3099ba4.be6df8"]]},{"id":"f3099ba4.be6df8","type":"function","z":"3ab1b1ce.2b1f4e","name":"init_variables","func":"var basedir = \"/tmp/edi_in/\";\nvar kunr = msg.payload.replace(basedir,\"\").split(\"/\")[0];\nvar xmldir = \"/tmp/xml/\";\n\nmsg.kunr = kunr;\nmsg.basedir = basedir;\nmsg.xmlfile = xmldir + '/'  + kunr + '_' + msg.file + '.xml';\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":80,"wires":[["251e9cbf.fa61d4"]]},{"id":"251e9cbf.fa61d4","type":"file in","z":"3ab1b1ce.2b1f4e","name":"","filename":"","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":590,"y":80,"wires":[[]]},{"id":"c8f72b20.9bf018","type":"file","z":"572b2b7.8e3f9d4","name":"","filename":"","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":411,"y":81,"wires":[["b51f4394.4eace"]]},{"id":"b8e758c4.3cc4c8","type":"function","z":"572b2b7.8e3f9d4","name":"set filename","func":"orgfile = msg.filename;\nmsg.filename = msg.xmlfile;\nmsg.orgfile = orgfile;\nreturn msg;","outputs":1,"noerr":0,"x":200,"y":80,"wires":[["c8f72b20.9bf018"]]},{"id":"b51f4394.4eace","type":"fs-ops-delete","z":"572b2b7.8e3f9d4","name":"","path":"","pathType":"str","filename":"orgfile","filenameType":"msg","x":646,"y":80,"wires":[[]]},{"id":"2f30e522.534d7a","type":"subflow:dfb7be09.601c7","z":"7fab6520.14c9fc","name":"object2XML","env":[],"x":764,"y":223,"wires":[["164aa779.625369"]]},{"id":"3586a27a.a0dd6e","type":"subflow:3ab1b1ce.2b1f4e","z":"7fab6520.14c9fc","name":"","x":134.5,"y":220,"wires":[["cfd5bc1b.14343"]]},{"id":"b5b896e7.20bfc8","type":"subflow:c6d25cc3.1b6d2","z":"7fab6520.14c9fc","x":535,"y":199,"wires":[["2f30e522.534d7a"]]},{"id":"cfd5bc1b.14343","type":"switch","z":"7fab6520.14c9fc","name":"check customer","property":"kunr","propertyType":"msg","rules":[{"t":"eq","v":"10332","vt":"str"},{"t":"eq","v":"10333","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":344.5,"y":221,"wires":[["b5b896e7.20bfc8"],["32a807f0.526948"],["bde564d9.500568"]]},{"id":"bde564d9.500568","type":"debug","z":"7fab6520.14c9fc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":530.5,"y":510,"wires":[]},{"id":"71915d01.23f794","type":"function","z":"263ec013.18c7c","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":200,"y":80,"wires":[[]]},{"id":"32a807f0.526948","type":"subflow:263ec013.18c7c","z":"7fab6520.14c9fc","x":535.5,"y":249,"wires":[["2f30e522.534d7a"]]},{"id":"164aa779.625369","type":"subflow:572b2b7.8e3f9d4","z":"7fab6520.14c9fc","name":"","x":973.5,"y":222,"wires":[["daebf6fb.6bcae8"]]},{"id":"ba17c5f3.674248","type":"debug","z":"7fab6520.14c9fc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1309.5,"y":221,"wires":[]},{"id":"df7cec57.a10df","type":"function","z":"ac4f6cae.bce13","name":"fill ialf objects","func":"var ialf_kauf = {\n    kunr : msg.head.kunr ,\n    ltideal : msg.head.ltideal  \n};\nvar ialf_pos;\nvar ialf_liadd\n\n\nmsg.ialf_kauf = ialf_kauf\nreturn msg;","outputs":1,"noerr":0,"x":542,"y":82,"wires":[["c113d9e8.b617d8"]]},{"id":"daebf6fb.6bcae8","type":"subflow:ac4f6cae.bce13","z":"7fab6520.14c9fc","x":1150.5,"y":222,"wires":[["ba17c5f3.674248"]]},{"id":"fe2acfde.1be51","type":"function","z":"ac4f6cae.bce13","name":"read_datastructure","func":"var tabnames = [\n    '_ialf_kauf',\n    'ialf_kpos',\n    '_ialf_liadd',\n    'ialf_txt']\n\nvar defaults = {\n    number : 0,\n    txt : '',\n    date : 1899-12-31\n}\n\n\nmsg.defaults = defaults;\n\n/* hier Datenstruktur ermitteln und objekte vorbelgen\n*/\n\nreturn msg;","outputs":1,"noerr":0,"x":273.5,"y":80,"wires":[["df7cec57.a10df"]]},{"id":"c113d9e8.b617d8","type":"function","z":"ac4f6cae.bce13","name":"DB_insert","func":"\nreturn msg;","outputs":1,"noerr":0,"x":720.5,"y":82,"wires":[["76f6f3fb.cfebac"]]},{"id":"76f6f3fb.cfebac","type":"function","z":"ac4f6cae.bce13","name":"trigger trm_ctrl","func":"\nreturn msg;","outputs":1,"noerr":0,"x":910.5,"y":83,"wires":[[]]},{"id":"d69152cd.761fb","type":"inject","z":"7fab6520.14c9fc","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":159.5,"y":576,"wires":[["7b50f903.6571b8"]]},{"id":"5b11d3c3.98455c","type":"debug","z":"7fab6520.14c9fc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":544.5,"y":575,"wires":[]},{"id":"cd66b6dc.a8f0e8","type":"function","z":"f641ff1d.7bfdc","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":200,"y":80,"wires":[[]]},{"id":"7b50f903.6571b8","type":"subflow:f641ff1d.7bfdc","z":"7fab6520.14c9fc","x":339.5,"y":575,"wires":[["5b11d3c3.98455c"]]},{"id":"10213464.40272c","type":"e-mail in","z":"f641ff1d.7bfdc","name":"mjeromin@online.de","protocol":"IMAP","server":"imap.1und1.de","useSSL":true,"port":"993","box":"INBOX","disposition":"None","criteria":"UNSEEN","repeat":"60","fetch":"auto","inputs":0,"x":156.5,"y":210,"wires":[["fbe7648b.916a48"]]},{"id":"fbe7648b.916a48","type":"function","z":"f641ff1d.7bfdc","name":"process mail","func":"var newmail = [];\nvar msgno = 0;\nvar mailfrom;\n\nmailfrom = msg.header.from.value[0].address;\n\n    \nmsg.absender = mailfrom;\nmsg.test     = \"TEST\";\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":364.5,"y":211,"wires":[["ae03314c.a3fb9"]]},{"id":"ae03314c.a3fb9","type":"debug","z":"f641ff1d.7bfdc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":623.5,"y":258,"wires":[]}]